<table style="width:100%; border-collapse: collapse; font-family: Arial, sans-serif;" border="1">
    <thead>
      <tr style="background-color: #f2f2f2;">
        <th style="padding: 15px; text-align: left;">Project Title</th>
        <th style="padding: 15px; text-align: left;">Email ID</th>
      </tr>
    </thead>
    <tbody>
      {% for key, values in con.items %}
        <tr>
          <td style="padding: 15px; text-align: left;"><a style="text-decoration: none; color: #000;" href="{% url 'show_user' key %}">{{ values.0 }}</a></td> 
          <td style="padding: 15px; text-align: left;">{{ values.1 }}</td>
        </tr>
      {% endfor %}
    </tbody>
</table>
